body {
    min-height: 100%;
    max-height: 100%;
    width: auto;
}

.gkp-home__container {
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gkp-home__profile-pic-container {
    display: inline-block;
}

.gkp-home__profile-pic {
    width: 250px;
    height: 250px;
}

.gkp-home__name {
    font-size: 48px;
    font-weight: 500;
    color: #444

}

.gkp-home__title {
    color: #526d7a;
    font-size: 30px;
    font-weight: 400;
}

.gkp-home__social-icons {
    display: inline-block;
    margin: 10px;
}

#gkp-home__github__hover {
    display: inline-block;
&:hover {
    color: #000000;
}
}

#gkp-home__linkedin__hover {
    display: inline-block;
    &:hover {
        fill: #0000FF;
    }
}

#gkp-home__gmail__hover {
    display: inline-block;
fill: #FF0000;
}