.gkp-blog--title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: #444
}

.gkp-blog--title-container {
    margin: 0 50px;

}

.gkp-blog--blog-container {
    max-width: 80%;
    text-align: left;
    overflow: auto;
    padding: 0 300px 0 300px;
}

.gkp-blog--title {
    color: #555;
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.gkp-blog--content-container {
    font-size: 22px;
    font-weight: 300;
    color: #526d7a;
}

.gkp-blog--content-container-link {
    color: #526d7a;
    font-weight: 600;
    text-decoration: none
}

.gkp-blog--content-container-link:visited {
    text-decoration: none
}